<% layout("layouts/boilierplate") %>
    <link rel="stylesheet" href="/stylesheets/showStyle.css">
    <link rel="stylesheet" href="/stylesheets/allBank.css">

    <% if(request.approved===null) { %>
        <% if(!request.creditCardInfo && !request.loanInfo) { %>
            <div class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        Request Details
                    </div>
                    <div class="card-body">
                        <% if(request.images) { %>
                            <div style="text-align: center;">
                                <% if(request.images.frontImage) { %>
                                    <img src="<%= request.images.frontImage.url %>" alt="Front of Check"
                                        style="max-width: 80%; margin-bottom: 20px;">
                                    <% } %>
                                        <% if(request.images.backImage) { %>
                                            <img src="<%= request.images.backImage.url %>" alt="Back of Check"
                                                style="max-width: 80%;">
                                            <% } %>
                            </div>
                            <% } else { %>
                                <p>No images available</p>
                                <% } %>



                                    <% const totalInDollars=(request.amountInCents / 100).toFixed(2); %>
                                        <% const accountTotalInDollars=(request.accountFrom.id.totalInCents /
                                            100).toFixed(2); %>


                                            <div class="card-body">
                                                <h5 class="card-title">Account Type: <%= request.accountFrom.accountType
                                                        %>
                                                </h5>
                                                <p>
                                                    <a
                                                        href="/accountViews/userDetails/<%= request.accountFrom.id.holder._id %>">
                                                        Account Holder: <%= request.accountFrom.id.holder.username %>
                                                    </a>
                                                </p>
                                                <p>Request: $<%= totalInDollars %>
                                                </p>
                                                <p>Account ID: <%= request.accountFrom.id._id %>
                                                </p>
                                                <p>Total in Account: $<%= accountTotalInDollars %>
                                                </p>
                                                <p>Request ID: <%= request._id %>
                                                </p>
                                                <form action=" /accountViews/<%=request.accountFrom.id._id %>/requests/<%=
                                    request._id %>/approve" method="post" style="display: inline;">
                                                    <button type="submit" class="btn btn-primary">Approve</button>
                                                </form>
                                                <form
                                                    action="/accountViews/<%= request.accountFrom.id._id %>/requests/<%= request._id %>/deny"
                                                    method="post" style="display: inline;">
                                                    <button type="submit" class="btn btn-danger">Deny</button>
                                                </form>

                                            </div>
                    </div>
                </div>
                <% } else if(request.creditCardInfo) { %>
                    <div class="container mt-4">
                        <div class="card">
                            <div class="card-header">
                                Request Details for Card Approval
                            </div>
                            <div class="card-body" id="requestCard">
                                <% const accountTotalInDollars=(request.accountFrom.id.totalInCents / 100).toFixed(2);
                                    %>


                                    <p>
                                        <a href="/accountViews/userDetails/<%= request.accountFrom.id.holder._id %>">
                                            Account Holder: <%= request.accountFrom.id.holder.username %>
                                        </a>
                                    </p>
                                    <p>Credit Card Requested: <%= request.creditCardInfo.creditCardType %>
                                    </p>
                                    <p>Employment Status: <%= request.creditCardInfo.employmentStatus %>
                                    </p>
                                    <p>Gross Income: $<%= request.creditCardInfo.grossIncome.toLocaleString() %>
                                    </p>
                                    <p>Request ID: <%= request._id %>
                                    </p>
                                    <p>Account ID: <%= request.accountFrom.id._id %>
                                    </p>
                                    <form
                                        action="/accountViews/<%= request.accountFrom.id._id %>/requests/<%= request._id %>/cardApproved"
                                        method="post" style="display: inline;">
                                        <button type="submit" class="btn btn-primary">Approve</button>
                                    </form>
                                    <form
                                        action="/accountViews/<%= request.accountFrom.id._id %>/requests/<%= request._id %>/deny"
                                        method="post" style="display: inline;">
                                        <button type="submit" class="btn btn-danger">Deny</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                    <% } else if(request.loanInfo) { %>
                        <div class="container mt-4">
                            <div class="card">
                                <div class="card-header">
                                    Request Details for Loan Approval
                                </div>
                                <div class="card-body" id="requestCard">
                                    <% const accountTotalInDollars=(request.accountFrom.id.totalInCents /
                                        100).toFixed(2); %>



                                        <p>
                                            <a
                                                href="/accountViews/userDetails/<%= request.accountFrom.id.holder._id %>">
                                                Account Holder: <%= request.accountFrom.id.holder.username %>
                                            </a>
                                        </p>
                                        <p>Loan Type Requested: <%= request.loanInfo.loanType %>
                                        </p>
                                        <p>Loan Amount Requested: <%= (request.amountInCents / 100).toFixed(2) %>
                                        </p>
                                        <p>Loan Term: <%= request.loanInfo.loanTerm %>
                                        </p>
                                        <% const minimumInDollars=(request.loanInfo.monthlyMinimumInCents /
                                            100).toFixed(2); %>
                                            <p>Minimum monthly offered: $<%= minimumInDollars %>
                                            </p>
                                            <p>Request ID: <%= request._id %>
                                            </p>
                                            <p>Account ID: <%= request.accountFrom.id._id %>
                                            </p>
                                            <form
                                                action="/accountViews/<%= request.accountFrom.id._id %>/requests/<%= request._id %>/loanApproved"
                                                method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-primary">Approve</button>
                                            </form>
                                            <form
                                                action="/accountViews/<%= request.accountFrom.id._id %>/requests/<%= request._id %>/deny"
                                                method="post" style="display: inline;">
                                                <button type="submit" class="btn btn-danger">Deny</button>
                                            </form>
                                </div>
                            </div>
                        </div>
                        <% } %>
                            <% } %>